
@{
    ViewData["Title"] = "Citas Médicas";
}

<div class="text-center">
    <h1 class="display-4">Módulo de Citas Médicas</h1>
    <p>Aquí podrás gestionar las citas médicas de los pacientes.</p>
</div>
