
@{
    ViewData["Title"] = "Gestión de Pacientes";
}

<div class="text-center">
    <h1 class="display-4">Módulo de Gestión de Pacientes</h1>
    <p>Aquí podrás gestionar todos los pacientes registrados en la clínica.</p>
</div>
