
@{
    ViewData["Title"] = "Inventario de la Clínica";
}

<div class="text-center">
    <h1 class="display-4">Módulo de Inventario</h1>
    <p>Aquí podrás gestionar el inventario de los productos médicos en la clínica.</p>
</div>
