
@{
    ViewData["Title"] = "Análisis y Reportes";
}

<div class="text-center">
    <h1 class="display-4">Módulo de Análisis y Reportes</h1>
    <p>Aquí podrás consultar los reportes de análisis de la clínica.</p>
</div>
